.main-container {
    position: relative;
    width: 80%;
    max-width: 100%;
    height: calc(100vH - 40px);
    background: white;
    box-shadow: 0 1px 1px rgb(0, 0, 0, 0.5), 0 2px 5px rgb(0, 0, 0, 0.5);
}

.online-status {
    background: #1ea885;
    min-height: 10px;
    min-width: 10px;
    height: 10px;
    border-radius: 50%;
    font-size: 0.8rem;
    display: flex;
    font-weight: 400;
    justify-content: center;
    align-items: center;
}

.offline-status {
    background: #cacaca;
    min-height: 10px;
    min-width: 10px;
    height: 10px;
    border-radius: 50%;
    font-size: 0.8rem;
    display: flex;
    font-weight: 400;
    justify-content: center;
    align-items: center;
}

.bg-chat {
    background-color: #efeae2;
    background-image: url("/wa_bg.png");
    background-size: contain;
}

.message-box {
    position: relative;
    display: flex;
    width: 100%;
    margin: 5px 0;

    &.self {
        > div {

            position: relative;
            right: 15px;
            text-align: right;
            background: #d9fdd3;
            padding: 10px 10px 0 10px;
            max-width: 65%;
            border-radius: 5px;
            font-size: 0.9rem;
        }
        justify-content: flex-end;

        &::before {
            content: "";
            position: absolute;
            top: 0;
            border-radius: 5px;
            width: 20px;
            height: 15px;
            background: linear-gradient(135deg, #d9fdd3 0%, #d9fdd3 50%, transparent 50%, transparent);
        }
    }
    &.friend {
        justify-content: flex-start;
        > div {
            position: relative;
            right: 0;
            text-align: left;
            background: white;
            max-width: 65%;
            padding: 10px 10px 0 10px;
            border-radius: 5px;
            font-size: 0.9rem;
        }
        &::before {
            content: "";
            position: absolute;
            top: 0;
            left: -10px;
            width: 20px;
            height: 20px;
            background: linear-gradient(225deg, #fff 0%, #fff 50%, transparent 50%, transparent);

        }
    }
}

i {
    &.seen {
        color: #53bdeb;
    }
    &.ml-neg {
        margin-left: -10px;
    }
}

.emojis-panel {
    position: absolute;
    left: 35%;
    bottom: 50px;
}

@layer utilities {
  .scrollbar-hide::-webkit-scrollbar {
    display: none;
  }
  
  .scrollbar-hide {
    -ms-overflow-style: none;
    scrollbar-width: none;
  }
}